<ion-header>
    <ion-navbar >
      <ion-buttons slot="primary">
        <button ion-button  >
          <ion-icon end name="contact"></ion-icon>        </button>
        </ion-buttons>
      <ion-buttons end>
        <button ion-button  >
          <ion-icon end name="log-out"></ion-icon>        </button>
        </ion-buttons>
        
    </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-header>
   
  <ion-content padding>
      
    
      <ion-segment [(ngModel)]="galleryType" color="primary">
      <ion-segment-button value="regular">
          <ion-icon name="images"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="pinterest">
          <ion-icon name="list"></ion-icon>
      </ion-segment-button>
    </ion-segment>
   
    <div [ngSwitch]="galleryType">
      <!-- Responsive Layout with Ion Grid-->
      <ion-grid *ngSwitchCase="'regular'">
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 tappable  *ngFor="let image of [1,2,3,4]" (click)="nav($event)">
            <div class="image-container" [style.background-image]="'url(assets/img/' + image + '.jpg)'" onselect="nav()"></div>
            <h6>{{image}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
   
      <ion-list *ngSwitchCase="'pinterest'">
          <ion-item *ngFor="let image of [1,2,3,4]">
              <ion-thumbnail item-left >
                  <div class="circular--landscape">
                <img class="image" src="assets/img/{{image}}.jpg" />
                </div>
              </ion-thumbnail>
              <ion-label>{{ image }}</ion-label>
            </ion-item>
      </ion-list>
      <!-- More Pinterest floating gallery style -->
   
    </div>
  </ion-content>